
.landing-page {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.landing-page .carousel-con {
  pointer-events: auto;
}

[data-theme='light'] .landing-page,
[data-theme='light'] .landing-page *,
[data-theme='light'] body:has(.landing-page) footer,
[data-theme='light'] body:has(.landing-page) footer * {
  color: white !important;
}

body:has(.landing-page) footer {
  position: relative;
  z-index: 1;
}


.proj-page > :not(figure, image, video){
  max-width:500px;
}

.proj-page h2 {
  font-size:14pt;
  font-weight:600;
  padding-top:0.6rem;
  padding-bottom:0.2rem;
}

.proj-page p{
  font-size: 11pt;
  font-weight: 400;
  margin: 1.2rem auto;
  line-height:23px;
}


.proj-page li{
  font-size: 11pt;
  font-weight: 400;
  margin: 0.2rem auto;
  line-height:23px;

  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.3em;
  padding-left: 1.3em;
}


.proj-page figure, .proj-page img {
  width:85%;
  min-width: 700px;
  max-width:1200px;
  margin: 2rem auto;
  border-radius:8px;
}

.proj-page a {
  color:rgb(51, 113, 221);
  border-bottom:2px solid rgba(57, 130, 255, 0.687);
}
.proj-page a:hover{
  background-color:rgba(124, 176, 255, 0.27);
}

.bold {
  font-weight: bold;
}

.code {
  font-family: monospace;
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: 760px) {
  .proj-page img, .proj-page figure {
    width:100%;
    min-width: 0px;
    margin: 2rem auto;
    border-radius:8px;
  }
}
